In [4]:
# 构建示例数据表
import pandas as pd

df = pd.DataFrame({
    'Country':
    ['China', 'China', 'India', 'India', 'America', 'Japan', 'China', 'India'],
    'Income': [10000, 10000, 5000, 5002, 40000, 50000, 8000, 5000],
    'Age': [5000, 4321, 1234, 4010, 250, 250, 4500, 4321]
})

In [5]:
df

   Country  Income   Age
0    China   10000  5000
1    China   10000  4321
2    India    5000  1234
3    India    5002  4010
4  America   40000   250
5    Japan   50000   250
6    China    8000  4500
7    India    5000  4321

In [7]:
# 单列分组
df_gb = df.groupby('Country')
for index, data in df_gb:
    print(index)
    print(data)

America
   Country  Income  Age
4  America   40000  250
China
  Country  Income   Age
0   China   10000  5000
1   China   10000  4321
6   China    8000  4500
India
  Country  Income   Age
2   India    5000  1234
3   India    5002  4010
7   India    5000  4321
Japan
  Country  Income  Age
5   Japan   50000  250

In [9]:
# 多列分组
df_gb = df.groupby(['Country', 'Income'])
for (index1, index2), data in df_gb:
    print(index1, index2)
    print(data)

America 40000
   Country  Income  Age
4  America   40000  250
China 8000
  Country  Income   Age
6   China    8000  4500
China 10000
  Country  Income   Age
0   China   10000  5000
1   China   10000  4321
India 5000
  Country  Income   Age
2   India    5000  1234
7   India    5000  4321
India 5002
  Country  Income   Age
3   India    5002  4010
Japan 50000
  Country  Income  Age
5   Japan   50000  250

In [10]:
# 对分组后数据进行聚合
# 默认情况对分组之后其他列进行聚合
df_agg = df.groupby('Country').agg(['min', 'mean', 'max'])
print(df_agg)

        Income                        Age
           min          mean    max   min         mean   max
Country
America  40000  40000.000000  40000   250   250.000000   250
China     8000   9333.333333  10000  4321  4607.000000  5000
India     5000   5000.666667   5002  1234  3188.333333  4321
Japan    50000  50000.000000  50000   250   250.000000   250

In [11]:
# 对分组后的部分列进行聚合
# 某些情况,只需要对部分数据进行不同的聚合操作,可以同来字典来构建
num_agg = {'Age': ['min', 'mean', 'max']}
print(df.groupby('Country').agg(num_agg))

          Age
          min         mean   max
Country
America   250   250.000000   250
China    4321  4607.000000  5000
India    1234  3188.333333  4321
Japan     250   250.000000   250

In [13]:
num_agg1 = {'Age': ['min', 'mean', 'max'], 'Income': ['min', 'max']}
print(df.groupby('Country').agg(num_agg1))

          Age                    Income
          min         mean   max    min    max
Country
America   250   250.000000   250  40000  40000
China    4321  4607.000000  5000   8000  10000
India    1234  3188.333333  4321   5000   5002
Japan     250   250.000000   250  50000  50000