In [1]:
import numpy as np
import pandas as pd
import lxml
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

## 文本格式数据的读写

In [5]:
df = pd.read_csv('data/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_table('data/ex1.csv', sep=',')

D:\YY\Anaconda\envs\analysis\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_csv('data/ex2.csv', header=None)
pd.read_csv('data/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('data/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [10]:
parsed = pd.read_csv('data/csv_mindex.csv',
                     index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [11]:
list(open('data/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [12]:
result = pd.read_table('data/ex3.txt', sep='\s+')
result

D:\YY\Anaconda\envs\analysis\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [14]:
pd.read_csv('data/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
result = pd.read_csv('data/ex5.csv')
result
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [17]:
result = pd.read_csv('data/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [18]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('data/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### 分段读取文本文件

In [19]:
pd.options.display.max_rows = 10

In [20]:
result = pd.read_csv('data/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [21]:
pd.read_csv('data/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [22]:
chunker = pd.read_csv('data/ex6.csv', chunksize=1000)
chunker

In [23]:
chunker = pd.read_csv('data/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [24]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### 将数据写入文本格式

In [25]:
data = pd.read_csv('data/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [27]:
data.to_csv('data/out.csv')

In [28]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [29]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [30]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [31]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [33]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('data/tseries.csv')

D:\YY\Anaconda\envs\analysis\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

### 处理分隔格式

In [34]:
import csv
f = open('data/ex7.csv')

reader = csv.reader(f)

In [35]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [36]:
with open('data/ex7.csv') as f:
    lines = list(csv.reader(f))

In [37]:
header, values = lines[0], lines[1:]

In [38]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

### JSON Data

In [39]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [40]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [41]:
asjson = json.dumps(result)

In [42]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [44]:
data = pd.read_json('data/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [45]:
print(data.to_json())
print(data.to_json(orient='records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### XML和HTML: Web抓取

In [2]:
tables = pd.read_html('data/fdic_failed_bank_list.html')
len(tables)
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [3]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

#### 使用lxml.objectify解析XML

In [5]:
from lxml import objectify

path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [6]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [7]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

In [8]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [9]:
root
root.get('href')
root.text

'Google'

## 二进制数据格式

In [10]:
frame = pd.read_csv('data/ex1.csv')
frame
frame.to_pickle('data/frame_pickle')

In [11]:
pd.read_pickle('data/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### 使用HDF5格式

In [13]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

ImportError: HDFStore requires PyTables, "No module named 'tables'" problem importing

In [14]:
store['obj1']

UsageError: Unknown variable '['obj1']'

In [15]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

NameError: name 'store' is not defined

In [16]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

ImportError: HDFStore requires PyTables, "No module named 'tables'" problem importing

In [17]:
os.remove('mydata.h5')

NameError: name 'os' is not defined

### 读取Excel文件

In [18]:
xlsx = pd.ExcelFile('data/ex1.xlsx')

In [19]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [20]:
frame = pd.read_excel('data/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [21]:
writer = pd.ExcelWriter('data/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

ModuleNotFoundError: No module named 'openpyxl'

In [22]:
frame.to_excel('data/ex2.xlsx')

ModuleNotFoundError: No module named 'openpyxl'

## 与Web api交互

In [23]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [24]:
data = resp.json()
data[0]['title']

'DataFrame Groupby Named Aggregation Using Lambda Results in a KeyError, Dict-of-Dicts Approach Works Fine'

In [25]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,27863,DataFrame Groupby Named Aggregation Using Lamb...,[],open
1,27862,See also for DataFrame.iterrows() should say D...,[],open
2,27861,"Standardize use of ""Iterate"" and ""Iterator"" in...",[],open
3,27860,"Use of ""Yields"" vs ""Returns"" for documentation...",[],open
4,27859,"Documentation says Series.items(), Series.iter...",[],open
5,27858,BUG: DataFrameGroupBy.transform does not work ...,[],open
6,27857,Pandas groupby transform count gives empty dat...,[],open
7,27855,BUG: add back check for MultiIndex case and ta...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
8,27853,Error dividing Dataframe by Series but only wh...,[],open
9,27852,DOC:add append example in to_excel documentation,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
10,27851,DOC: Add CoC to the README,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
11,27850,read_excel throws XLRD error when used in a fo...,[],open
12,27849,CLN: op-->opname in Categorical _cat_compare_op,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
13,27848,Series.str.extract not return pandas.Index object,[],open
14,27847,TST: parametrize arithmetic tests,[],open
15,27846,BUG: boxplot does not work when data has datet...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
16,27844,DOC: GroupBy.head()/tail() documentation,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
17,27841,ValueError when casting 1d data to MultiIndex ...,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
18,27840,PERF: Break reference cycle for all Index types,"[{'id': 1218227310, 'node_id': 'MDU6TGFiZWwxMj...",open
19,27838,Parametrize JSON tests,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
20,27837,API: what should a 2D indexing operation into ...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
21,27831,EA: DatetimelikeArray.view should always retur...,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
22,27830,CLN: match standardized dispatch logic in Inte...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
23,27829,BUG: IntNA division can alter array inplace,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,27827,BUG: Fixed groupby quantile for listlike q,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
25,27826,BUG: Fix groupby quantile segfault,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
26,27825,Dispatch pd.is_na for scalar extension value,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
27,27824,Document DataFrame._constructor_sliced-like pr...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
28,27820,DOC: clarify that read_parquet accepts a direc...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
29,27817,Conversion from Arrow to datetime not working ...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open

## 与数据库交互

In [26]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [27]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [28]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [29]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [30]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5