问题:

1. 统计每个城市每年土地成交的平均的单位价格（unit_price）

2. 统计每个城市每年土地成交的平均加权价格 （sum(price)/sum(area）)

3. 在1的结果上补全每个城市缺失年份的数据，向前填充

4. 将1中的平均单位价格标准化

5. 按type统计unit_price的数值分布情况

In [1]:
import numpy as np
import pandas as pd

file_path = "./land_data.xlsx"
df = pd.read_excel(file_path, encoding='gbk')
pd.set_option('display.max_columns', None)
df1 = df.copy()
df1.head().append(df.tail())

,agree_group,city_id,city_name,year,level,type,area,price,unit_price
0,南昌市,36,兰州市,2006,三级,商业用地,0.027783,21.1072,759.72
1,南昌市,36,兰州市,2006,三级,商业用地,0.031025,13.1763,424.70
2,南昌市,36,兰州市,2006,三级,商业用地,0.041810,29.7376,711.26
3,武汉市,36,兰州市,2006,三级,商业用地,0.050056,21.9093,437.70
4,合肥市,36,兰州市,2006,五级,工业用地,0.385780,27.2052,70.52
51038,银川市,360,银川市,2018,未评估地区,其他用地,6.581881,1740.0000,264.36
51039,银川市,360,银川市,2018,未评估地区,其他用地,8.174193,2158.0000,264.00
51040,银川市,360,银川市,2018,未评估地区,其他用地,18.708932,10745.0000,574.32
51041,银川市人民政府,360,银川市,2018,未评估地区,商业用地,0.360000,588.0000,1633.33
51042,银川市人民政府,360,银川市,2018,未评估地区,商业用地,0.599290,5214.0000,8700.30

In [2]:
# 1.统计每个城市每年土地成交的平均的单位价格
res1 = df1[['city_name', 'year', 'unit_price']].groupby(['city_name','year']).mean()
res1

                   unit_price
city_name year
三亚市       2007    2644.956667
          2008   11429.920000
          2009    1352.440000
          2010    4082.477500
          2011    2263.881875
          2012    3632.128400
          2013    4298.055263
          2014    4897.070455
          2015    4053.897500
          2016    5762.216667
          2017    2512.425000
          2018    2401.430000
上海市       2007    7216.232642
          2008    1726.551429
          2009    5835.026963
          2010    6793.808938
          2011    4909.941000
          2012    3235.450830
          2013    9056.345956
          2014    7925.747020
          2015   22640.491154
          2016   37852.787273
          2017    8419.508333
          2018   18698.176667
东莞市       2007     536.684000
          2008    2480.743889
          2009    2115.532000
          2010    2569.879202
          2011   11440.953143
          2012    2007.218429
...                       ...
阳江市       2014    1328.232292
          2015    1813.881667
          2016    1198.399130
          2017     297.652667
          2018    2880.564444
青岛市       2006    1200.700000
          2007    1579.495143
          2008    2644.063889
          2009    5532.219157
          2010  546341.183922
          2011    6800.578909
          2012    8714.682200
          2013    5063.230174
          2014    6834.149213
          2015    4229.919375
          2016    2912.194286
          2017    9902.254211
          2018    6966.362000
韶关市       2007     143.990000
          2008    1388.110000
          2009    2885.865536
          2010    1023.734211
          2011     763.993191
          2012     716.992941
          2013    1656.426771
          2014    3775.816118
          2015    2313.416351
          2016     699.622079
          2017     897.925091
          2018    2019.345909

[1006 rows x 1 columns]

In [8]:
# 2.统计每个城市每年土地成交的平均加权价格
res2 = df1[['city_name', 'year', 'area', 'price']].groupby(
    ['city_name','year']).apply(lambda x: np.sum(x['price']) / np.sum(x['area']))
res2

city_name  year
三亚市        2007     2738.887080
           2008    11429.917794
           2009     1352.435242
           2010     1929.538008
           2011     2417.319647
           2012     3513.676164
           2013     3756.540599
           2014     5738.212049
           2015     3792.336641
           2016     3928.677057
           2017     3558.357675
           2018     2572.694836
上海市        2007     4006.470184
           2008     2532.316772
           2009     4433.667709
           2010     4653.124465
           2011     3831.666354
           2012     3058.751215
           2013     7571.740854
           2014     7860.466601
           2015    17148.763587
           2016    34914.099396
           2017     8745.466326
           2018    20628.262757
东莞市        2007      504.158330
           2008     1437.656281
           2009     2697.698719
           2010     1744.264983
           2011     2879.304751
           2012     1225.369436
                       ...
阳江市        2014     1476.309404
           2015     1919.775209
           2016      818.734710
           2017      378.001196
           2018     2403.229546
青岛市        2006     1200.700053
           2007      620.085954
           2008     1333.086185
           2009     1918.291987
           2010    76799.049620
           2011     6607.205888
           2012     5120.403861
           2013     3838.889748
           2014     4925.787470
           2015     2652.597961
           2016     2040.607954
           2017     7042.223929
           2018     4241.356220
韶关市        2007       86.041423
           2008     1663.462599
           2009      839.864299
           2010      459.312481
           2011     1638.852230
           2012      469.005162
           2013     1461.376368
           2014      759.411818
           2015      794.243945
           2016      424.640224
           2017     1062.794373
           2018      844.206816
Length: 1006, dtype: float64

In [4]:
# 3. 在1的结果上补全每个城市缺失年份的数据，向前填充
res3 = res1.unstack().stack(dropna=False).fillna(method='ffill')
res3

                   unit_price
city_name year
三亚市       2002            NaN
          2003            NaN
          2004            NaN
          2005            NaN
          2006            NaN
          2007    2644.956667
          2008   11429.920000
          2009    1352.440000
          2010    4082.477500
          2011    2263.881875
          2012    3632.128400
          2013    4298.055263
          2014    4897.070455
          2015    4053.897500
          2016    5762.216667
          2017    2512.425000
          2018    2401.430000
上海市       2002    2401.430000
          2003    2401.430000
          2004    2401.430000
          2005    2401.430000
          2006    2401.430000
          2007    7216.232642
          2008    1726.551429
          2009    5835.026963
          2010    6793.808938
          2011    4909.941000
          2012    3235.450830
          2013    9056.345956
          2014    7925.747020
...                       ...
青岛市       2006    1200.700000
          2007    1579.495143
          2008    2644.063889
          2009    5532.219157
          2010  546341.183922
          2011    6800.578909
          2012    8714.682200
          2013    5063.230174
          2014    6834.149213
          2015    4229.919375
          2016    2912.194286
          2017    9902.254211
          2018    6966.362000
韶关市       2002    6966.362000
          2003    6966.362000
          2004    6966.362000
          2005    6966.362000
          2006    6966.362000
          2007     143.990000
          2008    1388.110000
          2009    2885.865536
          2010    1023.734211
          2011     763.993191
          2012     716.992941
          2013    1656.426771
          2014    3775.816118
          2015    2313.416351
          2016     699.622079
          2017     897.925091
          2018    2019.345909

[1445 rows x 1 columns]

In [9]:
# 4. 将1中的平均单位价格标准化
# Z-Score标准化
res4 = res1.apply(lambda x: (x - np.mean(x)) / np.std(x))
res4

                unit_price
city_name year
三亚市       2007   -0.062875
          2008   -0.030126
          2009   -0.067693
          2010   -0.057516
          2011   -0.064295
          2012   -0.059195
          2013   -0.056712
          2014   -0.054479
          2015   -0.057622
          2016   -0.051254
          2017   -0.063369
          2018   -0.063782
上海市       2007   -0.045834
          2008   -0.066298
          2009   -0.050982
          2010   -0.047408
          2011   -0.054431
          2012   -0.060673
          2013   -0.038974
          2014   -0.043189
          2015    0.011666
          2016    0.068375
          2017   -0.041348
          2018   -0.003031
东莞市       2007   -0.070734
          2008   -0.063487
          2009   -0.064848
          2010   -0.063154
          2011   -0.030084
          2012   -0.065252
...                    ...
阳江市       2014   -0.067783
          2015   -0.065973
          2016   -0.068267
          2017   -0.071625
          2018   -0.061996
青岛市       2006   -0.068259
          2007   -0.066846
          2008   -0.062878
          2009   -0.052111
          2010    1.963945
          2011   -0.047383
          2012   -0.040248
          2013   -0.053860
          2014   -0.047258
          2015   -0.056966
          2016   -0.061878
          2017   -0.035820
          2018   -0.046765
韶关市       2007   -0.072198
          2008   -0.067560
          2009   -0.061977
          2010   -0.068918
          2011   -0.069887
          2012   -0.070062
          2013   -0.066560
          2014   -0.058659
          2015   -0.064111
          2016   -0.070127
          2017   -0.069387
          2018   -0.065207

[1006 rows x 1 columns]

In [15]:
# 5. 按type统计unit_price的数值分布情况
res5 = df1[['type', 'unit_price']].groupby('type').describe()
res5

     unit_price                                                      \
          count          mean           std  min       25%      50%
type
住房用地    20288.0  20014.326469  1.045186e+06  0.0   464.000  1443.15
其他用地     6965.0   9769.184144  6.031795e+05  0.0   112.900   395.44
商业用地    11470.0  13179.781221  4.136408e+05  0.0  1206.685  2938.90
工业用地    12320.0   4511.594031  3.550420e+05  0.0   202.790   372.00


            75%           max
type
住房用地  4305.0000  1.110000e+08
其他用地   825.0000  5.000000e+07
商业用地  6761.4275  4.338851e+07
工业用地   495.8475  3.906845e+07

In [7]:
# # 新建表格
# data100=pd.DataFrame([[i,j] for i in df1['city_name'].unique() for j in list(range(2002,2019))],columns=['city_name','year'])
# data100

     city_name  year
0          兰州市  2002
1          兰州市  2003
2          兰州市  2004
3          兰州市  2005
4          兰州市  2006
5          兰州市  2007
6          兰州市  2008
7          兰州市  2009
8          兰州市  2010
9          兰州市  2011
10         兰州市  2012
11         兰州市  2013
12         兰州市  2014
13         兰州市  2015
14         兰州市  2016
15         兰州市  2017
16         兰州市  2018
17        哈尔滨市  2002
18        哈尔滨市  2003
19        哈尔滨市  2004
20        哈尔滨市  2005
21        哈尔滨市  2006
22        哈尔滨市  2007
23        哈尔滨市  2008
24        哈尔滨市  2009
25        哈尔滨市  2010
26        哈尔滨市  2011
27        哈尔滨市  2012
28        哈尔滨市  2013
29        哈尔滨市  2014
...        ...   ...
1415       常州市  2006
1416       常州市  2007
1417       常州市  2008
1418       常州市  2009
1419       常州市  2010
1420       常州市  2011
1421       常州市  2012
1422       常州市  2013
1423       常州市  2014
1424       常州市  2015
1425       常州市  2016
1426       常州市  2017
1427       常州市  2018
1428       银川市  2002
1429       银川市  2003
1430       银川市  2004
1431       银川市  2005
1432       银川市  2006
1433       银川市  2007
1434       银川市  2008
1435       银川市  2009
1436       银川市  2010
1437       银川市  2011
1438       银川市  2012
1439       银川市  2013
1440       银川市  2014
1441       银川市  2015
1442       银川市  2016
1443       银川市  2017
1444       银川市  2018

[1445 rows x 2 columns]